{% extends "base.html" %}
{% set page_title="DelAcount" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h4>注销帐户</h4>
            <hr class="featurette-divider">
            <div class="row">
                <div class="col-md-10">
                    <div class="alert alert-danger" role="alert">
                        <strong>Warning! </strong>您正在尝试<strong>注销您的帐号</strong>！
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-2">
                            <form class="form-horizontal" role="form" method="post">
                                <input type="hidden" class="form-control" value="1" name="delacount">
                                <button type="submit" class="btn btn-warning"><span class="glyphicon glyphicon-ok"></span>注销帐户</button>
                            </form>
                        </div>
                        <div class="col-md-2">
                            <a href="/profile"><button class="btn btn-inverse"><span class="glyphicon glyphicon-remove"></span>取&nbsp;&nbsp;&nbsp;&nbsp;消</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
