{% extends "base.html" %}
{% set page_title="Profile" %}
{% block content %}
<div class="container content">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h4>帐号基本信息</h4>
            <hr class="featurette-divider">
            <div class="col-md-12">
                <div class="col-md-3 col-md-offset-9">
                    <div class="col-md-6">
                        <a href="/editprofile"><button class="btn btn-warning">编辑资料</button></a>
                    </div>
                    <div class="col-md-6">
                        <a href="/delacount"><button class="btn btn-danger">注销帐户</button></a>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <ul class="list-group">
                    <li class="list-group-item">
                        {% set user_types = {'student':'学生', 'teacher':'老师'} %}
                        <span class="glyphicon glyphicon-user"></span> 帐号类型: {{ user_types[user.usertype] }}
                    </li>
                    <li class="list-group-item">
                        <span class="glyphicon glyphicon-user"></span> 用户名:{{ user.username }}
                    </li>
                    <li class="list-group-item">
                        <span class="glyphicon glyphicon-envelope"></span> Email:{{ user.email }}
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h4>基本信息</h4>
            <hr class="featurette-divider">
            <div class="col-md-8">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="glyphicon glyphicon-user"></span> 身份证号码: {{ identity }}
                    </li>
                    <li class="list-group-item">
                        <span class="glyphicon glyphicon-globe"></span> QQ号:{{ qq }}
                    </li>
                    <li class="list-group-item">
                        <span class="glyphicon glyphicon-envelope"></span> 手机号： {{ phone }}
                    </li>
                    <li class="list-group-item">
                        <span class="glyphicon glyphicon-map-marker"></span> 家庭住址： {{ address }}
                    </li>
                    <li class="list-group-item">
                        <span class="glyphicon glyphicon-home"></span> 家庭信息：
                        <table class="table table-hover">
                            <tr>
                                <td>姓名</td><td>关系</td><td>工作单位</td><td>联系方式</td>
                            </tr>
                        {% if family_info != None %}
                            {% for item in family_info %}
                            <tr>
                                <td>{{ item.name }}</td><td>{{ item.relationship }}</td><td>{{ item.work_place }}</td><td>{{ item.contact }}</td>
                            </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td>XX</td><td>XX</td><td>XXXX</td><td>XXXX</td>
                            </tr>
                        {% endif %}
                        </table>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div><!--container-fluid-->
{% endblock content %}
