{% extends "base.html" %}
{% set page_title="Profile" %}
{% block content %}
<div class="container content">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h4>帐号基本信息</h4>
            <hr class="featurette-divider">
            <div class="col-md-12">
                <div class="col-md-3 col-md-offset-9">
                    <div class="col-md-6">
                        <a href="/editprofile"><button class="btn btn-warning">编辑资料</button></a>
                    </div>
                    <div class="col-md-6">
                        <a href="/delacount"><button class="btn btn-danger">注销帐户</button></a>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="glyphicon glyphicon-user"></span> 用户名:{{ user.username }}
                    </li>
                    <li class="list-group-item">
                        <span class="glyphicon glyphicon-envelope"></span> Email:{{ user.email }}
                    </li>
                    <li class="list-group-item">
                        <span class="glyphicon glyphicon-globe"></span> QQ号:{{ user.qq }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h4>基本信息</h4>
            <hr class="featurette-divider">
            <div class="col-md-8">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="glyphicon glyphicon-user"></span> 身份证号码: 340XXXXXXXXXXXXXXXXXXXX
                    </li>
                    <li class="list-group-item">
                        <span class="glyphicon glyphicon-envelope"></span> 手机号： 131XXXXXXXXXX
                    </li>
                    <li class="list-group-item">
                        <span class="glyphicon glyphicon-globe"></span> 家庭住址： XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
                    </li>
                    <li class="list-group-item">
                        <span class="glyphicon glyphicon-globe"></span> 家庭信息：
                        <table class="table table-hover">
                            <th>
                                <td>姓名</td><td>关系</td><td>工作单位</td><td>联系方式</td>
                            </th>
                            <tr>
                                <td>XXXX</td><td>父子</td><td>淮南市劳动局</td><td>132XXXXXXXX</td>
                            </tr>
                            <tr>
                                <td>XXXX</td><td>父母</td><td>淮南市劳动局</td><td>132XXXXXXXX</td>
                            </tr>
                            <tr>
                                <td>XXXX</td><td>兄妹</td><td>淮南市劳动局</td><td>132XXXXXXXX</td>
                            </tr>
                        </table>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div><!--container-fluid-->
{% endblock content %}
