{% extends "base.html" %}
{% set page_title="Terms" %}
{% block content %}
<div class="container content">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <section id="terms">
                <div class="page-header">
                    <h4>使用条款</h4>
                    <ol>
                        <li>遵守法律法规；</li>
                        <li>不泄露他人隐私；</li>
                        <li>不损害他人利益；</li>
                    </ol>
                </div>
            </section>
            <section id="privacy">
                <div class="page-header">
                    <h4>隐私政策</h4>
                    <ol>
                        <li>您在本网站所填私人信息仅管理人员可浏览；</li>
                        <li>管理员和瑜工作人员保证不泄露您的个人信息；</li>
                        <li>您的非个人信息，包括留言和讨论，其他人可查看或部分查看，该类信息将不在个人信息保护的范围内；</li>
                        <li>除非网站后台数据库泄露或遭受黑客攻击，否则本网站对您的私人信息不负任何责任。</li>
                    </ol>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock content %}
